/* 本版是基于Wikidot提供的基础版式改造而来的 */


@import url('https://woptheme.pages.dev/Wikidot-style.css');

/* basic Query for mobile devices */
@media (max-width: 767px) {
    .owindow {
        min-width: 80%;
        max-width: 99%;
    }
    .modal-body .table, .modal-body .table ~ div {
        float: left;
    }
    .owindow .button-bar {
        float: right;
    }
    .owindow div a.btn-primary {
        width: 100%;
        float: left;
    }
    .mobile-top-bar ul li:last-of-type ul {
        right: 0;
    }
    span, a, #action-area td {
        word-break: break-all;
    }
}
/* Mobile Media Query */
@media (max-width: 479px) {
    #search-top-box-input {
        width: 5em;
    }
    #page-content {
        font-size: 0.9em;
    }
    #main-content {
        margin: 0;
    }
    #recent-posts-category {
        width: 100%;
    }
    #header {
        max-width: 90%;
    }
    #side-bar {
        width: 80%;
        position: relative;
    }
    .top-bar {
        display: none;
    }
    .mobile-top-bar {
        display: block;
        padding: 0;
    }
    .page-options-bottom a {
        padding: 0 4px;
    }
    #header h1 a {
        font-size: 100%;
    }
    blockquote, div.blockquote, div.curved {
        margin: 1em 0;
    }
    .license-area {
        font-size: 0.8em;
    }
    #header {
        background-position: 0 5.5em;
        background-size: 55px 55px;
    }
    #header h1, #header h2 {
        margin-left: 66px;
    }
    table.form td, table.form th {
        float: left;
    }
    td.name {
        width: 15em;
    }
    table.form td, table.form th {
        padding: 0;
    }
    #edit-page-title {
        max-width: 90%;
    }
    .content-panel.left-column, .content-panel.right-column {
        width: 99%;
        float: left;
    }
    #page-content div, #page-content div table {
        clear: both;
    }
    #page-content div.title {
        word-break: keep-all;
    }
}
/* Note Media Query */
@media (min-width: 480px) and (max-width: 580px) {
    #search-top-box-input {
        width: 7em;
    }
    #main-content {
        margin: 0 2em 0 2em;
    }
    #header {
        max-width: 90%;
    }
    #side-bar {
        width: 80%;
        position: relative;
    }
    .top-bar {
        display: none;
    }
    .mobile-top-bar {
        display: block;
    }
    .page-options-bottom a {
        padding: 0 5px;
    }
    #header h1 a {
        font-size: 120%;
    }
    blockquote, div.blockquote, div.curved {
        margin: 0.5em;
    }
    .license-area {
        font-size: 0.85em;
    }
    #header {
        background-position: 0.5em 4.5em;
        background-size: 66px 66px;
    }
    #header h1, #header h2 {
        margin-left: 80px;
    }
    #page-content div.title {
        word-break: keep-all;
    }
    td.name {
        width: 15em;
    }
    .content-panel.left-column, .content-panel.right-column {
        width: 99%;
        float: left;
    }
    #page-content div, #page-content div table {
        clear: both;
    }
}
/* Mini Tablet Media Query */
@media (min-width: 581px) and (max-width: 767px) {
    #search-top-box-input {
        width: 8em;
    }
    #side-bar {
        width: 80%;
        position: relative;
    }
    #main-content {
        margin: 0 3em 0 2em;
    }
    #header {
        max-width: 90%;
    }
    .top-bar {
        display: none;
    }
    .mobile-top-bar {
        display: block;
    }
    .page-options-bottom a {
        padding: 0 6px;
    }
    #header h1 a {
        font-size: 140%;
    }
    .license-area {
        font-size: 0.9em;
    }
    #header {
        background-position: 1em 4em;
        background-size: 77px 77px;
    }
    #header h1, #header h2 {
        margin-left: 93px;
    }
}
/* Tablet Media Query */
@media (min-width: 768px) and (max-width: 979px) {
    #main-content {
        margin: 0 4em 0 20em;
    }
    #header, #top-bar, #side-bar {
        max-width: 100%;
    }
    .top-bar li {
        margin: 0;
    }
    #top-bar ul li.sfhover ul li a, #top-bar ul li:hover ul li a {
        width: 110px;
    }
    .page-options-bottom a {
        padding: 0 7px;
    }
    #header h1 a {
        font-size: 160%;
    }
    .license-area {
        font-size: 0.95em;
    }
    #header {
        background-position: 1em 4em;
        background-size: 88px 88px;
    }
    #header h1, #header h2 {
        margin-left: 106px;
    }
    .content-panel.left-column, .content-panel.right-column {
        width: 99%;
        float: left;
    }
    #page-content div, #page-content div table {
        clear: both;
    }
}
/* off-canvas */
.close-menu {
    display: none;
}
@media (max-width: 767px) {
    .page-history tbody tr td:last-child {
        width: 35%;
    }
    .owindow {
        min-width: 80%;
        max-width: 99%;
    }
    .modal-body .table, .modal-body .table ~ div {
        float: left;
    }
    .owindow .button-bar {
        float: right;
    }
    .owindow div .btn-primary {
        width: 100%;
        float: left;
    }
    .owindow div .btn-primary ~ div {
        width: 100%;
    }
    .yui-navset {
             z-index: 1;
    }
    #navi-bar, #navi-bar-shadow {
        display: none;
    }
    #top-bar .open-menu a {
        position: fixed;
        top: 0.5em;
        left: 0.5em;
        z-index: 15;
        font-family: 'Nanum Gothic', san-serif;
        font-size: 30px;
        font-weight: 700;
        width: 30px;
        height: 30px;
        line-height: 0.9em;
        text-align: center;
        border: 0.2em solid #888;
        background-color: #fff;
        border-radius: 3em;
        color: #888;
    }
    #top-bar .open-menu a:hover {
        text-decoration: none;
        -webkit-box-shadow: 0 0 20px 3px rgba(153,153,153,1);
        -moz-box-shadow: 0 0 20px 3px rgba(153,153,153,1);
        -ms-box-shadow: 0 0 20px 3px rgba(153,153,153,1);
        -o-box-shadow: 0 0 20px 3px rgba(153,153,153,1);
        box-shadow: 0 0 20px 3px rgba(153,153,153,1);
    }
    #main-content {
        max-width: 90%;
        margin: 0 5%;
        padding: 0;
        -webkit-transition: 0.5s ease-in-out 0.1s;
        -moz-transition: 0.5s ease-in-out 0.1s;
        -ms-transition: 0.5s ease-in-out 0.1s;
        -o-transition: 0.5s ease-in-out 0.1s;
        transition: 0.5s ease-in-out 0.1s;
    }
    #side-bar {
        display: block;
        position: fixed;
        top: 0;
        left: -25em;
        width: 17em;
        height: 100%;
        background-color: rgb(184, 134, 134);
        overflow-y: auto;
        z-index: 10;
        padding: 1em 1em 0 1em;
        -webkit-transition: left 0.5s ease-in-out 0.1s;
        -moz-transition: left 0.5s ease-in-out 0.1s;
        -ms-transition: left 0.5s ease-in-out 0.1s;
        -o-transition: left 0.5s ease-in-out 0.1s;
        transition: left 0.5s ease-in-out 0.1s;
    }
    #side-bar::after {
        content: '';
        position: absolute;
        top: 0;
        width: 0;
        height: 100%;
        background-color: rgba(0,0,0,0.2);
    }
    #side-bar:target {
        display: block;
        left: 0;
        width: 17em;
        margin: 0;
        border: 1px solid #dedede;
        z-index: 10;
    }
    #side-bar:target + #main-content {
        left: 0;
    }
    #side-bar:target .close-menu {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.3) 1px 1px repeat;
        z-index: -1;
    }
}